@{
    ViewBag.Title = "title";
}

<h2>Views, Controllers and Scope</h2>
<div ng-app class="container-fluid">
    <h2>Filters</h2>
    <div data-ng-controller="SimpleController">
        <h4>Filter by:</h4>
        <input type="text" data-ng-model="searchText" />
        <ul class="unstyled">
            <li data-ng-repeat="user in users | filter:searchText | orderBy:'surname'">{{user.surname}},
                {{user.name}} 
            </li>
        </ul>

    </div>
</div>

<script>
    function SimpleController($scope) {
        // Data will be filtered by this default text
        $scope.searchText = 'Jain';

        $scope.users = [
            { name: 'Abhi', surname: 'Jain' },
            { name: 'Sumi', surname: 'Salahudeen' },
            { name: 'Jamie', surname: 'Fenlon' },
            { name: 'Julie', surname: 'Hollis' }];
    }
</script>