@{
    ViewBag.Title = "Advanced";
}

<h2>Advanced</h2>

<fieldset>
    <legend>Advanced Topics</legend>
    <ul>
        <li>@Html.ActionLink("Utility Methods", "Index", "Utility")</li>
    </ul>
</fieldset>



