@{
    ViewBag.Title = "Chaining";
}

<h2>Chaining</h2>

<script>

    var calc = function (start) {
        this.add = function (x) {
            start = start + x;
            return this;
        };

        this.multiply = function (x) {
            start = start * x;
            return this;
        };

        this.equals = function (callback) {
            callback(start);
            return this;
        };

    }

    new calc(0)
        .add(3)
        .multiply(2)
        .multiply(4)
        .equals(function (result) { console.log(result); });


</script>
