@{
    ViewBag.Title = "Index";
}

<h2>Javascript Demos</h2>

<fieldset>
    <legend>Design Patterns</legend>
    <ul>
        <li>@Html.ActionLink("Functional Argument", "FuncArguments")</li>
        <li>@Html.ActionLink("Chaining", "Chaining")</li>
        <li>@Html.ActionLink("Asynchronous Execution", "Timer1")</li>
        <li>@Html.ActionLink("Asynchronous Module Pattern - AMD", "AsyncModule")</li>
    </ul>
</fieldset>