p {
  padding: 5px;
  background-color: #92cc00;
  font-family: 'Segoe UI';
}
p:hover {
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  -moz-animation-duration: 5000ms;
  -o-animation-duration: 5000ms;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-name: 'GrowShrink';
  -o-animation-name: 'GrowShrink';
  -webkit-animation-name: 'GrowShrink';
  animation-name: 'GrowShrink';
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-moz-keyframes GrowShrink {
  from {
    background-color: #b6ff00;
  }
  to {
    background-color: rgba(182, 255, 0, 0.5);
  }
}
@-webkit-keyframes GrowShrink {
  from {
    background-color: #b6ff00;
  }
  to {
    background-color: rgba(182, 255, 0, 0.5);
  }
}
@keyframes GrowShrink {
  from {
    background-color: #b6ff00;
  }
  to {
    background-color: rgba(182, 255, 0, 0.5);
  }
}
