@{
    ViewBag.Title = "Index";
}

<h2>jQuery Demos</h2>

<fieldset>
    <legend>Events</legend>
    <ul>
        <li>@Html.ActionLink("jQuery Events/Effects", "Events", "jQuery")</li>
        <li>@Html.ActionLink("jQuery Ajax", "Ajax", "jQuery")</li>
    </ul>
</fieldset>
<fieldset>
    <legend>jQuery UI</legend>
    <ul>
        <li>@Html.ActionLink("jQuery Accordion", "Accordion", "jQueryUI")</li>
    </ul>
</fieldset>
