@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>Demos</legend>
    <ul>
        <li>@Html.ActionLink("CSS", "Index", "CSS")</li>
        <li>@Html.ActionLink("DOM", "Index", "DOM")</li>
        <li>@Html.ActionLink("Ajax", "Index", "Ajax")</li>
        <li>@Html.ActionLink("Working with MultiMedia", "Index", "Media")</li>
    </ul>
</fieldset>
