@{
    ViewBag.Title = "BoxModel3";
}

<style type="text/css">
    p
    {
        display: block;
    }

    span
    {
        /* Doesn't work in Firefox - 22/01/2013 */
        display: run-in;
        border: medium double black;
    }
</style>

<h2>Box Model - Display</h2>

<span>There are lots of different kinds of fruit - there are over 500 varieties
of banana alone.
</span>
<p>
    By the time we add the countless types of apples, oranges,
and other well-known fruit, we are faced with thousands of choices.
</p>
