p {
  border-radius: 5px;
  background: #ff0000;
  color: #e0e0e0;
  font-size: 14px;
  width: -webkit-calc(60%);
  width: -moz-calc(60%);
}
#main {
  border-radius: 5px;
}
#main h1 {
  border-radius: 20px;
  background: #ff3333;
  color: #e0e0e0;
  padding: 0 10px 0 10px;
}
#main p {
  width: -webkit-calc(60%);
  width: -moz-calc(60%);
  padding: 0 5px 0 5px;
}
