@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>Working with Multimedia</legend>
    <ul>
        <li>@Html.ActionLink("Getting Started", "Ajax1")</li>
        <li>@Html.ActionLink("Events Handling", "Events1")</li>
        <li>@Html.ActionLink("Error Handling", "ErrorHandling")</li>
        
    </ul>
</fieldset>
